/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px repeat(3, auto) 25px;
  justify-items: end;
  padding: var(--padding-section);
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
}

.header::before,
.footer::before {
  content: "";
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--header-elements-color);
  border-inline-end: 1px solid var(--header-elements-color);
}

.header::after,
footer::after {
  content: "";
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--header-elements-color);
  border-inline-start: 1px solid var(--header-elements-color);
  justify-self: start;
  align-self: end;
}

.header__rec {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  color: var(--accent-color);
  margin-inline-end: calc(var(--padding-section) + 9px);
  margin-block-start: var(--padding-section);
}

.header__rec::after {
  content: "";
  display: flex;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
}

.header__theme-menu {
  margin-block-start: 38px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  color: var(--header-elements-color);
  text-transform: lowercase;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding-inline: 13px;
  padding-block-start: 0px;
  padding-block-end: 2px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--header-elements-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-elements-color);
  pointer-events: none;
}

.header__title {
  margin-block-end: 10px;
}

.header__title,
.footer__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
  font-size: var(--font-size-title);
  line-height: 82.5%;
  justify-self: start;
  align-self: center;
}

.header__description {
  align-self: center;
  font-weight: 700;
  block-size: max-content;
  margin-block-end: 10px;
}

.title-decor {
  color: var(--decor-color);
  background-color: var(--accent-color);
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  background-color: var(--background-color);
  background-image: var(--header-background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  display: grid;
  gap: 50px;
  margin-block-start: 30px;
  padding: var(--padding-section);
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
}

.content__title {
  color: var(--header-elements-color);
}

.content__text {
  color: var(--main-text-color);
}

.content__text a {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.content__text a:hover {
  border-block-end: 1px solid var(--main-color);
}

.content__text a:focus {
  outline: none;
}

.content__text a:focus-visible {
  outline: 1px solid var(--main-color);
}

.content__subtitle,
.content__sub-subtitle {
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.title-recommendations {
  margin-block-end: 0;
}

.title-gallary {
  margin-block-start: 50px;
}

.content__gallery {
  display: grid;
  gap: var(--padding-section);
}

.content__gallery-item img {
  inline-size: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
  margin-block-start: 30px;
  padding: var(--padding-section);
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
}

.footer__title {
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-self: center;
  align-self: center;
}

/* Задание (width > 780px) противоречит макету (width >= 768px). Выполняю согласно макету.*/
@media (width >= 768px) {
  .header {
    grid-template-rows: auto auto auto;
    height: auto;
  }

  .header::before,
  .footer::before {
    position: absolute;
    margin-inline-end: var(--padding-section);
    margin-block-start: var(--padding-section);
  }

  .header::after,
  footer::after {
    position: absolute;
    margin-inline-start: var(--padding-section);
    margin-block-end: var(--padding-section);
  }

  .header__theme-menu {
    margin-block-start: 170px;
  }

  .header__title {
    margin-inline-start: -20px;
    margin-block-start: 176px;
    margin-block-end: 0;
  }

  .header__description {
    inline-size: 50%;
    align-self: start;
    margin-block-start: 160px;
    margin-block-end: 164px;
  }

  .content {
    gap: 60px;
    margin-block-start: 40px;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content__section-causes {
    grid-template-columns: 1fr;
  }

  .content__section-causes .content__title {
    inline-size: 30%;
  }

  .content__subtitle,
  .content__sub-subtitle {
    margin-block: 0;
  }

  .title-recommendations {
    margin-block-end: 20px;
  }

  .content__text {
    margin-block-start: 10px;
    margin-block-end: 20px;
  }

  .title-gallary {
    grid-column: 1 / 3;
    margin-block-start: 40px;
  }

  .content__gallery {
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content__gallery-item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .content__gallery-item:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .content__gallery-item:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .content__gallery-item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .content__gallery-item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .content__gallery-item img {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  .footer {
    margin-block-start: 40px;
    height: auto;
  }

  .footer__title {
    margin-block: 443px;
  }
}

/* Задание (width > 1024px) противоречит макету (width >= 1024px). Выполняю согласно макету.*/
@media (min-width: 1024px) {
  .header__theme-menu {
    display: grid;
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__title {
    margin-block-start: 274px;
  }

  .header__description {
    margin-block-start: 112px;
    margin-block-end: 116px;
  }

  .content__section {
    gap: 10px;
  }

  .content__section-causes {
    grid-template-columns: 1fr;
  }

  .content__section-causes .content__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .content__section-causes .content__title {
    margin-block-end: 10px;
  }

  .title-gallary {
    margin-block: 50px 10px;
  }

  .footer__title {
    margin-block: 300px;
  }
}
